@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');


/*----------------------------- CSS Reset  ----------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar{
    display: none;
}


/*----------------------------- variable  ----------------------------------*/
:root{
    --dark-color : #000;
    --light-color : #fff;
    --green : rgb(112, 226, 6);
    --grey-color : #e0e0e0;
    --shadow : 2px 2px 10px grey;
    --shadowTint : 1px 1px 5px rgb(194, 193, 193);
    --old-grey : grey;
    --freeDelivery-color : blue;
}

html{
    font-size: 62.5%;
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none!important;
}

a:hover{
    color: var(--dark-color)!important;
}

.container-box{
    padding: 0.5rem 5rem;
    max-width: 1500px;
    margin: auto;
}

.button{
    border: none;
    outline: none;
    padding: 0.4rem 1.5rem;
    background-color: var(--light-color);
    cursor: pointer;
    border-radius: 2px;
}

.button>a{
    font-size: 1.5rem;
    color: var(--green);
    font-weight: bold;
}

.button>a:hover{
    color: var(--green)!important;
}

.view-btn{
    outline: none;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 2px;
    background-color: var(--green);
}

.view-btn>a{
    font-size: 1.5rem;
    color: var(--light-color);
}

.view-btn>a:hover{
    color: var(--light-color)!important;
}



#sticky-container{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
}


/*----------------------------- header-section-start  ----------------------------------*/

#header{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    background-color: var(--light-color);
}

.left-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
   }

.left-head-icon{
    color: var(--green);
    font-size: 1.4rem;
    margin-right: 1rem;
}

.left-head-text{
    color: var(--dark-color);
    font-size: 1.3rem;
}

.right-head{
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

#account, #wishlist{
    font-size: 1.5rem;
    color: var(--dark-color);
    margin-left: 1rem;
}

.user-icon, .wishlist{
    color: var(--green);
    margin: 0 0.7rem;
}

#wrapper{
    width: 100%;
    background-color: var(--green);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
}

#logo{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--dark-color);
}

#logo>span{
    color: var(--light-color);
    font-style: italic;
}

.search-box{
    width: 30vw;
   display: grid;
   grid-template-columns: 0.9fr 0.1fr;
}

#search{
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
}

#search-icon{
   color: var(--dark-color);
    font-size: 2rem;
    cursor: pointer;
}

.search-box>label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
}

.right-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.cart-icon, .hamburger-icon{
    font-size: 2.5rem;
    margin: 0.6rem 0 0.6rem 3rem;
    cursor: pointer;
}

.right-wrapper>a{
    color: var(--dark-color);
}

.right-wrapper-container{
    position: absolute;
    top: 110%;
    left: -10%;
    box-shadow: var(--shadow);
    z-index: 99999;
    background-color: var(--light-color);
    border-radius: 2px;
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    display: none;
    z-index: 9;
}

.right-wrapper-menu{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.right-wrapper-menu>li{
    font-size: 1.5rem;
    margin: 0.6rem 0;
}

.right-wrapper-menu>li>a{
    color: var(--dark-color);
}

.sidebar{
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--light-color);
    z-index: 99;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 2.5fr 5fr;
    gap: 1rem 0;
    box-shadow: var(--shadowTint);
    display: none;
}

.close{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
}

.close-icon{
    font-size: 2.5rem;
    cursor: pointer;
}

.user-img-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem 0;
}

.user-img-box{
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.user-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.Upload-photo{
    font-size: 2rem;
    cursor: pointer;
}

#file{
    display: none;
}

.user-id>p{
    font-size: 2.2rem;
    color: var(--green);
}

.sidebar-navlist{
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.sidebar-navlist>ul>li{
    font-size: 1.7rem;
    padding: 0.7rem 0;
    font-weight: 500;
}

.sidebar-navlist>ul>li>a{
    color: var(--dark-color);
}

/*----------------------------- header-section-end  ----------------------------------*/






/*----------------------------- login-section-start  ----------------------------------*/

#login-section{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}
 
.login-container{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 2.2fr;
}

.signup-container{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 2.2fr;
    display: none;
}

.left-login-box, .left-signup-box{
    background-color: var(--dark-color);
    padding: 2rem 1rem;
}

.login-heading, .signup-heading{
    font-size: 3rem;
    color: var(--light-color);
}

.login-text, .signup-text{
    font-size: 1.6rem;
    color: var(--light-color);
}

.right-login-box, .right-signup-box{
    background-color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-login-box>div , .right-signup-box>div{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
    padding: 2rem;
}

.form-row-box{
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative; 
}

.form-row-box>input{
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--grey-color);
}

.form-row-box>input:focus{
    border-bottom: 2px solid var(--green);
}

.form-row-box>p{
    font-size: 1.3rem;
}

.form-row-box>p>a:hover{
    color: var(--freeDelivery-color)!important;
}

#login-btn, #signup-btn{
    font-size: 1.6rem;
    font-weight: 500;
}

.login-icon{
    z-index: 99;
    color: var(--light-color);
    font-size: 3rem;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.password-show-btn{
    position: absolute;
    right: 5px;
    font-size: 1.4rem;
    cursor: pointer;
}

.password-hide-btn{
    position: absolute;
    right: 5px;
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
}

.welcome-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 3px;
    padding: 1rem;
    box-shadow: var(--shadow);
    display: none;
}

.welcome-text{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--dark-color);
}

.welcome-heading{
    color: var(--dark-color);
}

.welcome-character{
    color: var(--green);
    font-size: 2rem;
}

#start-btn{
    font-size: 1.5rem;
    font-weight: 500;
}


/*----------------------------- login-section-end  ----------------------------------*/









/* ---------------------------men-section-start------------------------------  */

#men-section{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.upper-men-container{
    display: flex;
    align-items: center;
    padding: 2rem;
}

.btns-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    justify-content: center;
    gap:0.5rem;
}

.product-filter-btn{
    width: 100%;
    font-size: 1.2rem;
    background-color: var(--grey-color);
    color: var(--dark-color);
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.active{
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
}

.lower-men-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem 0.8rem;
}

.product-box{
    height: 250px;
    display: grid;
    grid-template-rows: 75% 25%;
    cursor: pointer;
    box-shadow: var(--shadowTint);
}

.product-box:hover .product-detail{
  transform: translateY(-25px);
}

.product-box:hover .cart-wish-btn{
    opacity: 1;
}

.product-img-box{
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.product-img-box>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-detail{
    text-align: center;
    border-top: 2px solid var(--grey-color);
    transition: transform 0.6s;
    background-color: var(--light-color);
}

.product-name{
    font-size: 1.5rem;
}

.cart-wish-btn{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0 0.5rem;
    opacity: 0;
}

.add-btn{
    border: none;
    outline: none;
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    background-color: var(--green);
    color: var(--dark-color);
    font-weight: 500;
}

/* ---------------------------men-section-end--------------------------------  */





























/*----------------------------- delivery-section-start  ----------------------------------*/

#delivery{
    margin: 6rem auto 1.5rem auto;  
    max-width: 1500px;
    background-color: var(--light-color);
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 0 4rem;
}

.delivery-box{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    box-shadow: var(--shadowTint);
}

.delivery-box:hover{
    border: 1px solid var(--grey-color);
}

.delivery-icon{
    color: var(--green);
    font-size: 3.5rem;
    margin: 1rem 0;
}

.delivery-box>p{
    font-size: 1.2rem;
}

/*----------------------------- delivery-section-end  ----------------------------------*/










/*----------------------------- footer-section-start   ----------------------------------*/

#footer-section{
    max-width: 1500px;
    margin: 6rem auto 0 auto; 
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    gap: 2rem;
}

.footer-box{
    padding: 2rem;
}

.footer-box>a:hover{
    color: var(--green)!important;
}

#logo-foot{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--green);
}

#logo-foot>span{
    color: var(--light-color);
    font-style: italic;
}

.footer-box>p{
    color: var(--light-color);
    font-size: 1.4rem;
    letter-spacing: 1px;
    padding: 0.1rem;
}

.footer-box>h3{
    color: var(--green);
    letter-spacing: 1px;
}

.social-icon{
    color: var(--light-color);
    font-size: 1.5rem;
    margin-right: 1rem;
}

.footer-box>p>a{
    color: var(--light-color);
}

.footer-box>p>a:hover{
    color: var(--green)!important;
}

.owner-name{
    grid-column: 1/5;
    text-align: center;
    color: var(--light-color);
    font-size: 1.4rem;
}

.owner-name>p>a{
    color: var(--green);
    letter-spacing: 1px;
}

.owner-name>p>a:hover{
    color: var(--green)!important;
}


.active{
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
}

/*----------------------------- footer-section-end ----------------------------------*/



















































































/*---------------------- media-queries-start  ------------------------*/

/* desktop  */

@media (min-width : 1025px) and (max-width:1200px){

    .container-box{
        padding: 5px 40px;
    }

    #delivery{
        margin: 4rem auto 1rem auto;
    }

    #footer-section{
        margin: 4rem auto 0 auto;
    }

    .footer-box{
        padding: 1rem 0;
    }

    .sidebar{
        width: 25%;
    }

    .login-container, .signup-container, .welcome-container{
        width: 50%;
    }
}


/* laptop  */

@media (min-width : 769px) and (max-width:1024px){

    .container-box{
        padding: 5px 20px;
    }

    .left-head{
        gap: 0.5rem;
    }

    #delivery{
        margin: 3rem auto 1rem auto;
        gap: 0 2rem;
    }

    #footer-section{
        margin: 3rem auto 0 auto;
    }
    
    .delivery-box{
        padding: 1rem;
        font-size: 1.4rem;
    }

    #footer-section{
        gap: 0;
    }

    .footer-box{
        padding: 1rem 0;
    }

    .sidebar{
        width: 30%;
    }

    .sidebar-navlist{
        padding: 1rem;
    }

    .login-container, .signup-container, .welcome-container{
        width: 70%;
    }
}


/* tablet  */
@media (min-width : 481px) and (max-width:769px){

    .container-box{
        padding: 5px 10px;
    }

    .left-head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    #wrapper{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 1rem;
    }

    .middle-wrapper{
        grid-column: 1/3;
        order: 1;
    }

    .search-box{
        width: 100%;
    }

    .right-wrapper-container{
        padding: 0.6rem 1rem 0.6rem 0.6rem!important;
    }

    .right-wrapper-menu>li>a{
        font-size: 1.2rem;
    }

   #delivery{
        margin: 2rem auto 0.5rem auto;
        gap: 0 0.5rem;
    }

    #footer-section{
        margin: 2rem auto 0 auto;
    }

    .delivery-box{
        padding: 0.5rem;
        text-align: center;
    }

    .delivery-icon{
        font-size: 2rem;
    }

    .delivery-box>h4{
        font-size: 1.2rem;
    }

    .delivery-box>p{
        font-size: 1.2rem;
    }

    #footer-section{
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
    }

    .footer-box{
        padding: 1rem 0;
    }

    .owner-name{
        grid-column: 1/3;
    }

    .user-img-box{
        width: 120px;
        height: 120px;
    }

    .sidebar{
        width: 100%;
    }

    .sidebar-navlist{
        padding: 1rem;
    }

    .login-container, .signup-container, .welcome-container{
        width: 90%;
    }

    .login-icon{
        font-size: 2.5rem;
    }

    .login-heading, .signup-heading{
        font-size: 2.6rem;
    }

    .login-text, .signup-text{
        font-size: 1.3rem;
    }
}

/* phone  */
@media (min-width : 320px) and (max-width:480px){

    .container-box{
        padding: 5px;
    }

    .left-head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }    

    .left-head>div>a, .left-head-icon{
        font-size: 1.2rem;
    }

    .right-head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        justify-content: center;
    }

    #account , #wishlist{
        font-size: 1.2rem;
        margin: 0;
    }

    #logo{
        font-size: 2rem;
    }

    #wrapper{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 0.5rem;
    }

    .middle-wrapper{
        grid-column: 1/3;
        order: 1;
    }

    .search-box{
        width: 100%;
    }

    .cart-icon, .hamburger-icon{
        margin: 0.6rem 0 0.6rem 1.5rem;
        font-size: 2rem;
    }

    .button{
        padding: 0.4rem 0.8rem;
    }

    .button>a{
        font-size: 1.1rem;
    }

    .right-wrapper-container{
        padding: 0.3rem 0.5rem 0.3rem 0.3rem!important;
    }

    .right-wrapper-menu>li{
        margin: 0.3rem 0;
    }

    .right-wrapper-menu>li>a{
        font-size: 1.2rem;
    }

   #delivery{
        margin: 2rem auto 0.5rem auto;
        gap: 0.5rem 0;
        grid-template-columns:1fr;
    }

    #footer-section{
        margin: 2rem auto 0 auto;
    }

    .delivery-box{
        padding: 0.5rem;
        text-align: center;
    }

    .delivery-icon{
        font-size: 2.5rem;
    }

    .delivery-box>h4{
        font-size: 1.2rem;
    }

    .delivery-box>p{
        font-size: 1.2rem;
    }

    #footer-section{
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .footer-box{
        padding: 1rem 0;
    }

    .owner-name{
        grid-column: 1/2;
    }

    .user-img-box{
        width: 110px;
        height: 110px;
    }

    .Upload-photo{
        font-size: 1.5rem;
    }

    .sidebar{
        width: 100%;
        gap: 0;
    }

    .sidebar-navlist{
        padding: 1rem;
    }

    .sidebar-navlist>ul>li{
        font-size: 1.5rem;
    }

    .login-container, .signup-container, .welcome-container{
        width: 95%;
    }

    .right-login-box>div{
        padding: 1rem;
    }

    .login-icon{
        font-size: 2.5rem;
    }

    .login-heading, .signup-heading{
        font-size: 2.6rem;
    }

    .login-text, .signup-text{
        font-size: 1.3rem;
    }

    .lower-men-container{
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

/* min-device  */
@media (min-width : 0px) and (max-width:319px){

    .container-box{
        padding: 5px;
    }

    .left-head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
        overflow-x: scroll;
    }    

    .left-head>div>a, .left-head-icon{
        font-size: 1.2rem;
    }

    .right-head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.3rem;
        justify-content: center;
    }

    #account , #wishlist{
        font-size: 1.2rem;
        margin: 0;
    }

    #logo{
        font-size: 1.4rem;
    }

    #wrapper{
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 0.5rem;
    }

    .middle-wrapper{
        grid-column: 1/3;
        order: 1;
    }

    .search-box{
        width: 100%;
    }

    .cart-icon, .hamburger-icon{
        margin: 0.6rem 0 0.6rem 1rem;
        font-size: 1.5rem;
    }

    .button{
        padding: 0.3rem 0.6rem;
    }

    .button>a{
        font-size: 1.1rem;
    }

    #search, #search-icon{
        font-size: 1.2rem;
    }

    .right-wrapper-container{
        padding: 0.3rem 0.5rem 0.3rem 0.3rem!important;
    }

    .right-wrapper-menu>li{
        margin: 0.3rem 0;
    }

    .right-wrapper-menu>li>a{
        font-size: 1.2rem;
    }

    #delivery{
        margin: 2rem auto 0.5rem auto;
        gap: 0.5rem 0;
        grid-template-columns:1fr;
    }

    #footer-section{
        margin: 2rem auto 0 auto;
    }
    
    .delivery{
        font-size: 1.1rem;
    }

    .delivery-box{
        padding: 0.5rem;
        text-align: center;
    }

    .delivery-icon{
        font-size: 2rem;
    }

    .delivery-box>h4{
        font-size: 1rem;
    }

    .delivery-box>p{
        font-size: 1rem;
    }

    #footer-section{
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .footer-box{
        padding: 1rem 0;
    }

    .footer-box>p{
        font-size: 1.1rem;
    }

    .owner-name{
        grid-column: 1/2;
    }

    .owner-name>p{
        font-size: 1.1rem;
    }

    #logo-foot{
        font-size: 2rem;
    }

    .user-img-box{
        width: 100px;
        height: 100px;
    }

    .sidebar{
        width: 100%;
        gap: 0;
    }

    .user-id>p{
        font-size: 1.7rem;
    }

    .Upload-photo{
        font-size: 1.5rem;
    }

    .sidebar-navlist{
        padding: 1rem;
    }

    .sidebar-navlist>ul>li{
        font-size: 1.2rem;
    }

    .login-container, .signup-container{
        width: 95%;
    }

    .welcome-container{
        width: 95%;
        padding: 0.5rem;
    }

    .welcome-text{
        font-size: 1.5rem;
    }

    .welcome-heading{
        font-size: 1.5rem;
    }

    .right-login-box>div{
        padding: 1rem;
    }

    .login-icon{
        font-size: 2.5rem;
    }

    .login-heading, .signup-heading{
        font-size: 2.6rem;
    }

    .login-text, .signup-text{
        font-size: 1.3rem;
    }
}
/*----------------------- media-queries-end- ------------------------ */